<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Schedules" tabIcon="clock"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Devices" tabIcon="switch"></ion-tab>
</ion-tabs>
