<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{action}} Device</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="entryForm" (submit)="submit()" novalidate>

    <ion-list>
      <ion-item>
        <ion-label stacked>Name</ion-label>
        <ion-input formControlName="name" type="text" [(ngModel)]="name"
                   [class.invalid]="!entryForm.controls.name.valid && entryForm.controls.name.dirty"></ion-input>
        <p>Give this device a name that will help you easily identify where it's location, e.g. "Lounge corner"</p>
      </ion-item>
      <ion-item class="error-message"
                *ngIf="!entryForm.controls.name.valid && entryForm.controls.name.dirty">
          <p>Please enter a name for your device longer than 3 letters.</p>
      </ion-item>


      <ion-item>
        <ion-label stacked>Device Id</ion-label>
        <ion-input formControlName="deviceId" type="text" [(ngModel)]="deviceId"
                   [class.invalid]="!entryForm.controls.deviceId.valid && entryForm.controls.deviceId.dirty"></ion-input>
        <p>This is the unique identifier allocated to your device through the Particle Cloud</p>
      </ion-item>
      <ion-item class="error-message"
                *ngIf="!entryForm.controls.deviceId.valid && entryForm.controls.deviceId.dirty">
        <p>Please enter a device Id.</p>
      </ion-item>
    </ion-list>

    <button ion-button block type="submit">{{action}}</button>
  </form>

</ion-content>