<ion-header>
  <ion-navbar color="primary">
    <ion-title>Devices</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab right bottom (click)="openCreateView($event)">
    <button ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-list>
    <ion-item class="text" *ngFor="let item of items | async">
      <h2>{{item.name}}</h2>
      <p>{{item.deviceId}}</p>
      <button ion-button clear item-end (click)="openEditView(item)">Update</button>
      <button ion-button clear item-end (click)="remove(item)">Remove</button>
    </ion-item>
  </ion-list>
    
</ion-content>
