<ion-header>
  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Your lamps</h2>

  <ion-card *ngFor="let item of items | async">
    <ion-card-header>{{item.name}}</ion-card-header>
    <ion-card-content>
      <div [ngClass]="['ion-card-content-main', item.getState().toLowerCase()]">
        {{ item.getState() }}
      </div>
      <button ion-button block (click)="toggleLamp(item)" [disabled]="item.processing">
        Turn {{ item.getOppositeState() }}
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>
