page-home {

}

.ion-card-content-main {
    margin: 0 -1em .5em -1em;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 1em 0 1em 0;
    &.off {
        color: white;
        background: radial-gradient(circle at center, rgb(20%, 20%, 20%) 0, lightgrey 100%);
    }
    &.on {
        background: radial-gradient(circle at center, white 0, gold 100%);
    }
    &.unknown {
        background: radial-gradient(circle at center, white 0, #c96 100%);
    }
}
