<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{action}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="entryForm" (submit)="submit()" novalidate>

  <ion-list>

    <ion-item>
      <ion-label stacked>Start time</ion-label>
      <ion-datetime
        displayFormat="HH:mm"
        [(ngModel)]="startTime"
        formControlName="startTime"
        [class.invalid]="!entryForm.controls.startTime.valid && entryForm.controls.startTime.dirty"></ion-datetime>
    </ion-item>
    <ion-item class="error-message"
              *ngIf="!entryForm.controls.startTime.valid && entryForm.controls.startTime.dirty">
      <p>Please enter a start time for your schedule.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>End time</ion-label>
      <ion-datetime
        displayFormat="HH:mm"
        [(ngModel)]="endTime"
        formControlName="endTime"
        [class.invalid]="!entryForm.controls.endTime.valid && entryForm.controls.endTime.dirty"></ion-datetime>
    </ion-item>
    <ion-item class="error-message"
              *ngIf="!entryForm.controls.endTime.valid && entryForm.controls.endTime.dirty">
      <p>Please enter a end time for your schedule.</p>
    </ion-item>

  </ion-list>

  <button ion-button block type="submit">{{action}}</button>
</form>
</ion-content>