<ion-header>
  <ion-navbar color="primary">
    <ion-title>Schedules</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab right bottom (click)="openCreateView($event)">
    <button ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
